# Visual Studio / CMake caches
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
CMakeSettings.json
CMakeCache.txt
CMakeFiles/
out/

# C++ Build outputs
EngineSimHook/build/
EngineSimHook/out/
*.obj
*.exe
*.pdb
*.ilk
*.lib
*.dll
*.exp
*.idb
*.vsidx
*.tlog
*.lastbuildstate

# C# (.NET) Build outputs
[Bb]in/
[Oo]bj/
*.nupkg
